@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 36 100% 50%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 36 100% 50%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 36 100% 50%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 36 100% 50%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 231 48% 48%;
    
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 36 100% 50%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 36 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
